<form>
  <div class="form-group">

    {{input value=user-servings class="user-servings" placeholder=1  }}
    <label {{action 'showCook4one'}} for="user-servings">Click here to show updated servings</label>
  </div>
  {{#if isCook4One}}
    <ul class="user-ingredients">
      {{#each recipe.ingredients as |ingredient|}}
      <li>{{cook4one ingredient.measurement recipe.servings user-servings}} {{ingredient.units}} {{ingredient.source}} {{ingredient.name}}</li>
      {{/each}}
    </ul>
  {{else}}
  {{/if}}

</form>
