<li>
  {{#link-to 'recipe' recipe.id}}<img class="recipe-image" src={{recipe.image}} alt="Picture of {{recipe.name}}"/>
  <h1>{{recipe.name}}</h1>{{/link-to}}
  <p class="cook-time"><strong>Cook Time:</strong> {{recipe.cook_time}}</p>
  <div class="servings">
    <p><strong>Serves:</strong> {{recipe.servings}}</p>
  </div>
  <ul>
  {{#each recipe.ingredients as |ingredient|}}
    {{ingredient-tile ingredient=ingredient update="update" destroyIngredient="destroyIngredient"}}
  {{/each}}
  </ul>
  <!-- {{new-ingredient saveIngredient3="saveIngredient2"}} -->
  {{#if areDirectionsShowing }}
    <hr>
    <h4>Directions</h4>
    <div class="recipe-directions">
      <p {{action 'directionsHide'}}>{{recipe.directions}}</p>
    </div>
  {{else}}
    <button {{action 'directionsShow'}}>Show Directions</button>
  {{/if}}
  {{update-recipe recipe=recipe update="update"}}
  <button {{action 'delete' recipe}}>Delete Recipe</button>
</li>
