<h3>Ingredient</h3>

<p>{{model.measurement}} {{model.units}} of {{model.name}}</p>
<p>Sourced from / Notes: {{model.source}}</p>
<p>Recipe: {{model.recipe.name}}</p>

<button {{action 'delete' ingredient}}>Delete Ingredient</button>
